<header class="text-gray-700 body-font border-b-4 bg-white border-indigo-600">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="../../assets/bitpanda.png" class="w-16 h-16 text-white p-2 rounded-full"/>
      <span class="ml-3 text-xl">Bitpanda Junior Agnular</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" routerLink="about">About</a>
      <a class="mr-5 hover:text-gray-900" routerLink="contact">Contact</a>
      <select name="users" ng-model="userSelect" class="flex items-center">
        <option *ngFor="let fiat of fiats" value="">{{ fiat.attributes.symbol }}</option>
      </select>
    </nav>
  </div>
</header>
