<div class="mt-4">
  <div class="flex flex-wrap -mx-6">
    <div *ngFor="let index of indexes" class="w-full my-3 px-6 xsm:py-2 sm:py-2 sm:w-1/3 xl:w-1/3">
      <div class="flex justify-intems-center px-5 shadow-sm rounded-md bg-white place-items-center">
        <div class="p-3 rounded-full">
          <img class="h-20 w-20 rounded-full"
            src="{{ index.attributes.logo }}"
            alt="{{ index.attributes.symbol }}">
        </div>
        <div class="mx-5">
          <h4 class="text-xl font-semibold text-gray-700">
            {{ index.attributes.symbol }}
          </h4>
          <div class="text-xl text-gray-500">
            ${{ index.attributes.avg_price }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
