<div class="w-full md:w-1/3 xl:w-1/3 p-3">
  <!--Graph Card-->
  <div class="bg-white border rounded shadow">
    <div class="border-b p-3">
      <h5 class="font-bold uppercase text-gray-600">Bitcoin</h5>
    </div>
    <div class="p-5">
      <canvas id="bitcoin" width="undefined" height="undefined"></canvas>
    </div>
  </div>
  <!--/Graph Card-->
</div>

<div class="w-full md:w-1/3 xl:w-1/3 p-3">
  <!--Graph Card-->
  <div class="bg-white border rounded shadow">
    <div class="border-b p-3">
      <h5 class="font-bold uppercase text-gray-600">Ethereum</h5>
    </div>
    <div class="p-5">
      <canvas id="ethereum" width="undefined" height="undefined"></canvas>
    </div>
  </div>
  <!--/Graph Card-->
</div>

<div class="w-full md:w-1/3 xl:w-1/3 p-3">
  <!--Template Card-->
  <div class="bg-white border rounded shadow">
    <div class="border-b p-3">
      <h5 class="font-bold uppercase text-gray-600">
        BEST
        <img src="" alt="BEST Logo" id="best-logo" />
      </h5>
    </div>
    <div class="p-5">
      <canvas id="best" width="undefined" height="undefined"></canvas>
    </div>
  </div>
  <!--/Template Card-->
</div>
