<div>
  <div class="flex h-screen bg-gray-200">
      <div class="flex-1 flex flex-col overflow-hidden">

          <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
              <div class="container mx-auto px-6 py-8">
                  <h3 class="text-gray-700 text-3xl font-medium">BitpandaQueries</h3>

                  <div class="mt-4">
                      <div class="flex flex-wrap -mx-6">
                          <div *ngFor="let commoditie of commodities" class="w-full my-3 px-6 xsm:py-2 sm:py-2 sm:w-1/2 xl:w-1/4">
                                <div  class="flex items-center px-5 py-6 shadow-sm rounded-md bg-white">
                                    <div class="p-3 rounded-full">
                                      <img class="h-20 w-20 rounded-full"
                                        src="{{ commoditie.attributes.logo }}"
                                        alt="{{ commoditie.attributes.name }}">
                                    </div>
                                    <div class="mx-5">
                                        <h4 class="text-2xl font-semibold text-gray-700">{{ commoditie.attributes.name }}</h4>
                                        <div class="text-2xl text-gray-500">${{ commoditie.attributes.avg_price }}</div>
                                    </div>
                                </div>
                          </div>
                      </div>
                  </div>

                  <div class="mt-8">
                  </div>

                  <div class="flex flex-col mt-8">
                      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                          <div
                              class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                              <table class="min-w-full">
                                  <thead>
                                      <tr>
                                          <th
                                              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                              Name</th>
                                          <th
                                              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                              Average Price</th>
                                          <th
                                              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                              Circulating Supply</th>
                                          <th
                                              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                              Available</th>
                                          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                                      </tr>
                                  </thead>

                                  <tbody class="bg-white">
                                      <tr *ngFor="let cryptocoin of cryptocoins">
                                          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                              <div class="flex items-center">
                                                  <div class="flex-shrink-0 h-10 w-10">
                                                      <img class="h-10 w-10 rounded-full"
                                                          src="{{ cryptocoin.attributes.logo }}"
                                                          alt="{{ cryptocoin.attributes.name }}">
                                                  </div>

                                                  <div class="ml-4">
                                                      <div class="text-sm leading-5 font-medium text-gray-900">
                                                        {{ cryptocoin.attributes.name }}
                                                      </div>
                                                  </div>
                                              </div>
                                          </td>

                                          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                              <div class="text-sm leading-5 text-gray-900">${{  cryptocoin.attributes.avg_price  }}</div>
                                          </td>

                                          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                              <div class="text-sm leading-5 text-gray-900">{{  cryptocoin.attributes.circulating_supply }}</div>
                                          </td>

                                          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">{{  cryptocoin.attributes.available }}</span>
                                          </td>

                                          <td
                                              class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                                              <a href="https://web.bitpanda.com/en/prices" class="text-indigo-600 hover:text-indigo-900">Trade</a>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </main>
      </div>
  </div>
</div>
